<html lang="uk">
<head>
    <style>
    </style>
    <title></title>
</head>
<body>
<th:block>
    <div style="text-align: -webkit-center;">

        <div>
            <div>
                <h2>Fim de jogo!</h2>
            </div>
            <div>
                <h3>[[${msg}]]</h3>
            </div>
            <div>
                <a th:href="${url_end}">Recomeçar</a>
                <a th:href="${url_ranking}">Ranking</a>
                <a th:href="${url_logout}">Sair</a>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>